@import './reset.css';

.image-mask {
  height: 500px;
  background-size: cover;
  background: url('https://farm4.staticflickr.com/3262/3112684900_497293aa3a_m.jpg') fixed;
  background-position: center;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    
  font: 700 15vw 'Open Sans', sans-serif;
}
.box1{
  height: 500px;
}
.box2{
  height: 500px;
}